.subnav-tabs-wrapper {
  position: sticky;
  top: 56px;
  z-index: 1020;
  background: #b4151a;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.subnav-tabs-wrapper::-webkit-scrollbar {
  display: none;
}

.subnav-tabs-wrapper .nav-tab{
  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  border-bottom: none;
  padding: 0;
  margin: 0;
  width: max-content;
}

.subnav-tabs-wrapper .nav-item {
  flex: 0 0 auto;
}

.subnav-tabs-wrapper .nav-link {
  color: white;
  border: none;
  background: transparent;
  /* padding: 0.75rem 1rem; */
  font-weight: 500;
  white-space: nowrap;
  border-radius: 0;
}

.subnav-tabs-wrapper .nav-link.active {
  background-color: white;
  color: #b4151a;
  font-weight: 600;
  border-radius: 0;
}
